<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-button>Home</button>
  <button mat-button>Profile</button>
  <button mat-button [matMenuTriggerFor]="importMenu">
    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    Import
  </button>
  <mat-menu #importMenu>
    <button mat-menu-item>Dossier Medical</button>
    <button mat-menu-item>Prescriptions</button>
  </mat-menu>
  <button mat-raised-button color="accent">Login</button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer mode="side" position="start" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button>
          <mat-icon>dashboard</mat-icon>
          Medecins</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>
          <mat-icon>dashboard</mat-icon>
          Patiens
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>
          <mat-icon>dashboard</mat-icon>
          Dossiers Medicaux
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/speciality">
          <mat-icon>dashboard</mat-icon>
          Specialités
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
